<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration>
    <Properties>
        <Property name="APP">dubbo-monitor</Property>
        <Property name="ROOT">/logs</Property>
        <Property name="LEVEL">%5p</Property>
        <Property name="FORMATTER">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [${LEVEL}] [${hostName}] %logger{1.}:%L - %m%n%ex
        </Property>
    </Properties>

    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${FORMATTER}" />
        </Console>
        <RollingFile name="file" fileName="${ROOT}/app/${APP}.log" append="true" filePattern="${ROOT}/gzed/${APP}.%d{yyyy-MM-dd}.gz">
            <PatternLayout pattern="${FORMATTER}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </appenders>

    <loggers>
        <Logger name="org.springframework" level="warn" />

        <Logger name="org.springframework.boot.context.embedded.undertow" level="info" />

        <Logger name="org.apache.zookeeper" level="fatal" />
        <Logger name="org.apache.curator" level="fatal" />

        <Logger name="com.alibaba.dubbo.registry.zookeeper" level="fatal" />

        <Logger name="org.hibernate" level="warn" />

        <Logger name="org.xnio" level="fatal" />
        <Logger name="io.undertow" level="fatal" />

        <Logger name="jetbrick" level="fatal" />
        <root level="info">
            <AppenderRef ref="file" />
            <AppenderRef ref="console" />
        </root>
    </loggers>
</configuration>